swagger: '2.0'
info:
  title: ASCOM Remote Device Server - Management API
  description: |
    This restful API enables the ASCOM Remote Device Server configuration to be discovered and changed.
    
    ## Parameters and Returned values
    For GET operations, parameters should be placed in the URI string and for PUT operations they should be placed in the body of the message.
    
    Responses, as described below, are returned in JSON format and always include a common set of values including: the client's 
    identity number, the client's transaction number, the server's transaction number, the error message, error number and serialised Windows exception.
    The ErrorMessage field will be an empty string, the ErrorNumber field will be zero and the DriverException field will be null if the device driver method executes successfully.
    
    ## HTTP Status Codes and ASCOM Error codes
    The returned HTTP status code refers to the status of the transaction from the perspective of the web application server. 
    Under most circumstances you will receive an http return status code of `200`, indicating that the 
    operation completed successfully within the web application server at the remote location. This does not necessarily mean
    that the operation completed as expected and you must always check one of the ErrorMessage, ErrorNumber or DriverException fields to confirm that the 
    returned result is valid. 
    
    An HTTP status code of `400` indicates that the web application server received a bad URI path or parameter value that it cannot 
    understand and thus cannot forward the command to the device. Check the body of the response for an error message.
    
    An HTTP status code of `500` indicates an unexpected error within the appliation server itself, from which it could not recover. Check 
    the body of the response for an error message.
  version: "1.0.0"
# the domain of the service
host: www.ascom-standards.org
# host: 192.168.254.128
# host: ec2-54-200-24-71.us-west-2.compute.amazonaws.com
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /server/v1
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
parameters:
# Query parameters for GET methods
  ClientIDQuery:
    name: ClientID
    description: Client's unique ID.
    type: integer
    format: int32
    in: query
    required: false
    default: 1
  ClientTransactionIDQuery:
    name: ClientTransactionID
    description: Client's transaction ID.
    type: integer
    format: int32
    in: query
    required: false
    default: 1234
# Form parameters for PUT methods
  ClientIDForm:
    name: ClientID
    description: Client's unique ID.
    type: integer
    format: int32
    in: formData
    required: false
    default: 1
  ClientTransactionIDForm:
    name: ClientTransactionID
    description: Client's transaction ID.
    type: integer
    format: int32
    in: formData
    required: false
    default: 1234
  ConfigurationForm:
    name: Configuration
    description: New configuration that the server should adopt
    type: string
    in: formData
    required: false
    default: "*** Non-functional - Under development ***"

paths:
 # Server Methods
  /Profile:
    get:
      summary: Gets a lists all ASCOM devices installed on the server 
      description: Returns the type, ProgID and description of every ASCOM device installed on the server
      parameters:
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Server Methods
      responses:
        200:
          description: Server response
          schema:
            $ref: '#/definitions/ProfileResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Configuration:
    get:
      summary: Gets the server configuration (which ASCOM devices are accessible)
      description: Returns a list of devices which are accessible through the server
      parameters:
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Server Methods
      responses:
        200:
          description: Server response
          schema:
            $ref: '#/definitions/ConfigurationResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the server configuration (which ASCOM devices are accessible)
      description: Sends a new configuration to the remote device server
      parameters:
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
        - $ref: '#/parameters/ConfigurationForm'
      tags:
        - Server Methods
      responses:
        200:
          description: Server response
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
 
# Definitions          
definitions:
  ProfileResponse:
    type: object
    properties:
      Value:
        type: array
        items:
          type: object
          properties:
            DeviceType:
              description: The ASCOM device type e.g. Telescope or Camera
              type: string
            ProgID:
              description: The device COM ProgID
              type: string
            Description:
              description: The ASCOM Chooser device description
              type: string
      ClientTransactionIDForm:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
  ConfigurationResponse:
    type: object
    properties:
      Value:
        type: array
        items:
          type: object
          properties:
            DeviceName:
              description: Device name
              type: string
            ConfiguredDevice:
              description: Device configuration information
              type: object
              properties:
                DeviceType:
                  description: The ASCOM device type e.g. Telescope or Camera
                  type: string
                ProgID:
                  description: The device COM ProgID
                  type: string
                Description:
                  description: The ASCOM Chooser device description
                  type: string
                DeviceNumber:
                  description: The server's zero based device number for this device
                  type: integer
                  format: int32
      ClientTransactionIDForm:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
  MethodResponse:
    type: object
    properties:
      ClientTransactionIDForm:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
  ErrorMessage:
    type: string
    properties:
      Value:
        type: string
        description: Error message