swagger: '2.0'
info:
  title: ASCOM Remote Device Server - Access API
  description: |
    This restful API provides access to ASCOM devices remotely over the web through the ASCOM Remote Device Server.
    
    ## Parameters and Returned values
    For GET operations, parameters should be placed in the URI string and for PUT operations they should be placed in the body of the message.
    
    Responses, as described below, are returned in JSON format and always include a common set of values including: the client's 
    identity number, the client's transaction number, the server's transaction number, the error message, error number and serialised Windows exception.
    The ErrorMessage field will be an empty string, the ErrorNumber field will be zero and the DriverException field will be null if the device driver method executes successfully.
    
    ## HTTP Status Codes and ASCOM Error codes
    The returned HTTP status code refers to the status of the transaction from the perspective of the web application server. 
    Under most circumstances you will receive an http return status code of `200`, indicating that the 
    operation completed successfully within the web application server at the remote location. This does not necessarily mean
    that the operation completed as expected and you must always check one of the ErrorMessage, ErrorNumber or DriverException fields to confirm that the 
    returned result is valid. 
    
    An HTTP status code of `400` indicates that the web application server received a bad URI path or parameter value that it cannot 
    understand and thus cannot forward the command to the device. Check the body of the response for an error message.
    
    An HTTP status code of `500` indicates an unexpected error within the appliation server itself, from which it could not recover. Check 
    the body of the response for an error message.
  version: "1.0.0"
# the domain of the service
host: www.ascom-standards.org
# host: 192.168.254.128
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /api/v1
consumes:
  - application/x-www-form-urlencoded
produces:
  - application/json
parameters:
# URL parameters
  DeviceType:
    name: DeviceType
    description: One of the recognised ASCOM device types e.g. Telescope
    type: string
    in: path
    required: true
    default: Telescope
  DeviceNumber:
    name: DeviceNumber
    description: Zero based device number as set on the server
    type: integer
    format: int32
    in: path
    required: true
    default: 0
# Query parameters for GET methods
  ClientIDQuery:
    name: ClientID
    description: Client's unique ID.
    type: integer
    format: int32
    in: query
    required: false
    default: 1
  ClientTransactionIDQuery:
    name: ClientTransactionID
    description: Client's transaction ID.
    type: integer
    format: int32
    in: query
    required: false
    default: 1234
  RightAscensionQuery:
    name: RightAscension
    description: Right Ascension coordinate (hours)
    type: number
    in: query
    required: true
    default: 3.0
  DeclinationQuery:
    name: Declination
    description: Declination coordinate (degrees)
    type: number
    in: query
    required: true
    default: 0.0
  AxisQuery:
    name: Axis
    description: The axis about which rate information is desired. 0 = axisPrimary, 1 = axisSecondary, 2 = axisTertiary.
    type: integer
    format: int32
    in: query
    required: true
    default: 0
  SwitchNumberQuery:
    name: Id
    description: The device number (0 to MaxSwitch - 1)
    type: integer
    format: int32
    in: query
    required: true
    default: 0
# Form parameters for PUT methods
  ClientIDForm:
    name: ClientID
    description: Client's unique ID.
    type: integer
    format: int32
    in: formData
    required: false
    default: 1
  ClientTransactionIDForm:
    name: ClientTransactionID
    description: Client's transaction ID.
    type: integer
    format: int32
    in: formData
    required: false
    default: 1234
  CommandForm:
    name: Command
    description: The literal command string to be transmitted.
    type: string      
    in: formData
    required: true
  RawForm:
    name: Raw
    description: If set to true the string is transmitted 'as-is', if set to false then protocol framing characters may be added prior to transmission
    type: boolean      
    in: formData
    required: true
    allowEmptyValue: false
  RightAscensionForm:
    name: RightAscension
    description: Right Ascension coordinate (hours)
    type: number
    in: formData
    required: true
    default: 3.0
  DeclinationForm:
    name: Declination
    description: Declination coordinate (degrees)
    type: number
    in: formData
    required: true
    default: 0.0
  AltitudeForm:
    name: Altitude
    description: Altitude coordinate (degrees, positive up)
    type: number
    in: formData
    required: true
    default: 60.0
  AzimuthForm:
    name: Azimuth
    description: Azimuth coordinate (degrees, North-referenced, positive East/clockwise)
    type: number
    in: formData
    required: true
    default: 270.0
  DirectionForm:
    name: Direction
    description: Direction of movement (0 = North, 1 = South, 2 = East, 3 = West)
    type: integer
    format: int32
    in: formData
    required: true
    default: 1
  PulseDurationForm:
    name: Duration
    description: Duration of movement in milli-seconds
    type: integer
    format: int32
    in: formData
    required: true
    default: 10
  ExposureDurationForm:
    name: Duration
    description: Duration of exposure in seconds
    type: integer
    format: int32
    in: formData
    required: true
    default: 10
  ExposureLightForm:
    name: Light
    description: True if light frame, false if dark frame.
    type: boolean
    in: formData
    required: true
    allowEmptyValue: false
  DomeAltitudeForm:
    name: Altitude
    description: Target dome altitude (degrees, horizon zero and increasing positive to 90 zenith)
    type: number
    in: formData
    required: true
    default: 60.0
  DomeAzimuthForm:
    name: Azimuth
    description: Target dome azimuth (degrees, North zero and increasing clockwise. i.e., 90 East, 180 South, 270 West)
    type: number
    in: formData
    required: true
    default: 60.0
  SwitchNumberForm:
    name: Id
    description: The device number (0 to MaxSwitch - 1)
    type: integer
    format: int32
    in: formData
    required: true
    default: 0
  SwitchStateForm:
    name: State
    description: The required control state (True or False)
    type: boolean
    in: formData
    required: true
    default: false
  SwitchNameForm:
    name: Name
    description: The name of the device
    type: string
    in: formData
    required: true
    default: New device name
  SwitchValueForm:
    name: Value
    description: The value to be set, between MinSwitchValue and MaxSwitchValue
    type: number
    in: formData
    required: true
    default: 0.0

paths:
# Methods common to all device types
  /{DeviceType}/{DeviceNumber}/Action:
    put:
      summary: Invokes the specified device-specific action.
      description: Invokes the specified device-specific action.
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - name: Action
          description: A well known name that represents the action to be carried out.
          type: string      
          in: formData
          required: true
        - name: Parameters
          description: List of required parameters or an Empty String if none are required
          type: string      
          in: formData
          required: true
          allowEmptyValue: true
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/CommandBlind:
    put:
      summary: Transmits an arbitrary string to the device
      description: Transmits an arbitrary string to the device and does not wait for a response. Optionally, protocol framing characters may be added to the string before transmission. 
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/CommandForm'
        - $ref: '#/parameters/RawForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/CommandBool:
    put:
      summary: Transmits an arbitrary string to the device and returns a boolean value from the device.
      description: Transmits an arbitrary string to the device and waits for a boolean response. Optionally, protocol framing characters may be added to the string before transmission. 
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/CommandForm'
        - $ref: '#/parameters/RawForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/CommandString:
    put:
      summary: Transmits an arbitrary string to the device and returns a string value from the device.
      description: Transmits an arbitrary string to the device and waits for a string response. Optionally, protocol framing characters may be added to the string before transmission. 
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/CommandForm'
        - $ref: '#/parameters/RawForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Connected:
    get:
      summary: Retrieves the connected state of the device
      description: Retrieves the connected state of the device
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the connected state of the device
      description: Sets the connected state of the device
      tags:
        - ASCOM Methods Common To All Devices
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - name: Connected
          description: Set True to connect to the device hardware, set False to disconnect from the device hardware
          type: boolean      
          in: formData
          required: true
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Description:
    get:
      summary: Device description
      description: The description of the device
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Driverinfo:
    get:
      summary: Device driver description
      description: The description of the driver
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/DriverVersion:
    get:
      summary: Driver Version
      description: A string containing only the major and minor version of the driver. 
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description:  Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Name:
    get:
      summary: Device name
      description: The name of the device
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/SupportedActions:  
    get:
      summary: Returns the list of action names supported by this driver.
      description: Returns the list of action names supported by this driver.
      parameters:
        - $ref: '#/parameters/DeviceType'
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - ASCOM Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

# Switch specific Methods
  /Switch/{DeviceNumber}/MaxSwitch:
    get:
      summary: The number of switch devices managed by this driver 
      description: Returns the number of switch devices managed by this driver. Devices are numbered from 0 to MaxSwitch - 1
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/CanWrite:
    get:
      summary: Indicates whether the specified switch device can be written to
      description: Reports if the specified switch device can be written to, default true. This is false if the device cannot be written to, for example a limit switch or a sensor.  Devices are numbered from 0 to MaxSwitch - 1
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/GetSwitch:
    get:
      summary: Return the state of switch device id as a boolean 
      description: Return the state of switch device id as a boolean.  Devices are numbered from 0 to MaxSwitch - 1
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/GetSwitchDescription:
    get:
      summary: Gets the description of the specified switch device 
      description: Gets the description of the specified switch device. This is to allow a fuller description of the device to be returned, for example for a tool tip. Devices are numbered from 0 to MaxSwitch - 1
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/GetSwitchName:
    get:
      summary: Gets the name of the specified switch device 
      description: Gets the name of the specified switch device. Devices are numbered from 0 to MaxSwitch - 1
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

  /Switch/{DeviceNumber}/GetSwitchValue:
    get:
      summary: Gets the value of the specified switch device as a double
      description: Gets the value of the specified switch device as a double. Devices are numbered from 0 to MaxSwitch - 1, The value of this switch is expected to be between MinSwitchValue and MaxSwitchValue.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/MinSwitchValue:
    get:
      summary: Gets the minimum value of the specified switch device as a double
      description: Gets the minimum value of the specified switch device as a double. Devices are numbered from 0 to MaxSwitch - 1.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/MaxSwitchValue:
    get:
      summary: Gets the maximum value of the specified switch device as a double
      description: Gets the maximum value of the specified switch device as a double. Devices are numbered from 0 to MaxSwitch - 1.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

  /Switch/{DeviceNumber}/SetSwitch:
    put:
      summary: Sets a switch controller device to the specified state, true or false
      description: Sets a switch controller device to the specified state, true or false. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberForm'
        - $ref: '#/parameters/SwitchStateForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/SetSwitchName:
    put:
      summary: Sets a switch device name to the specified value
      description: Sets a switch device name to the specified value.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberForm'
        - $ref: '#/parameters/SwitchNameForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/SetSwitchValue:
    put:
      summary: Sets a switch device value to the specified value
      description: Sets a switch device value to the specified value.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberForm'
        - $ref: '#/parameters/SwitchValueForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Switch/{DeviceNumber}/SwitchStep:
    get:
      summary: Returns the step size that this device supports (the difference between successive values of the device).
      description: Returns the step size that this device supports (the difference between successive values of the device). Devices are numbered from 0 to MaxSwitch - 1.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/SwitchNumberQuery'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Switch Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
# SafetyMonitor specific Methods
  /SafetyMonitor/{DeviceNumber}/IsSafe:
    get:
      summary: Indicates whether the monitored state is safe for use. 
      description: Indicates whether the monitored state is safe for use. True if the state is safe, False if it is unsafe.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - SafetyMonitor Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
# Dome specific methods
  /Dome/{DeviceNumber}/Altitude:
    get:
      summary: The dome altitude
      description: The dome altitude (degrees, horizon zero and increasing positive to 90 zenith).    
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/AtHome:
    get:
      summary: Indicates whether the dome is in the home position.
      description: Indicates whether the dome is in the home position. This is normally used following a FindHome()  operation. The value is reset with any azimuth slew operation that moves the dome away from the home position. AtHome may also become true durng normal slew operations, if the dome passes through the home position and the dome controller hardware is capable of detecting that; or at the end of a slew operation if the dome comes to rest at the home position. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/AtPark:
    get:
      summary: Indicates whether the telescope is at the park position
      description: True if the dome is in the programmed park position. Set only following a Park() operation and reset with any slew operation. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/Azimuth:
    get:
      summary: The dome azimuth
      description: Returns the dome azimuth (degrees, North zero and increasing clockwise, i.e., 90 East, 180 South, 270 West)       
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanFindHome:
    get:
      summary: Indicates whether the dome can find the home position.
      description: True if the dome can move to the home position.  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

  /Dome/{DeviceNumber}/CanPark:
    get:
      summary: Indicates whether the dome can be parked.
      description: True if the dome is capable of programmed parking (Park() method) 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSetAltitude:
    get:
      summary: Indicates whether the dome altitude can be set
      description: True if driver is capable of setting the dome altitude. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSetAzimuth:
    get:
      summary: Indicates whether the dome azimuth can be set
      description: True if driver is capable of setting the dome azimuth. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSetPark:
    get:
      summary: Indicates whether the dome park position can be set
      description: True if driver is capable of setting the dome park position. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSetShutter:
    get:
      summary: Indicates whether the dome shutter can be opened
      description: True if driver is capable of automatically operating shutter
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSlave:
    get:
      summary: Indicates whether the dome supports slaving to a telescope
      description: True if driver is capable of slaving to a telescope.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CanSyncAzimuth:
    get:
      summary: Indicates whether the dome azimuth position can be synched
      description: True if driver is capable of synchronizing the dome azimuth position using the SyncToAzimuth(Double) method. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/ShutterStatus :
    get:
      summary: Status of the dome shutter or roll-off roof
      description: Returns the status of the dome shutter or roll-off roof. 0 = Open, 1 = Closed, 2 = Opening, 3 = Closing, 4 = Shutter status error
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/Slaved:
    get:
      summary: Indicates whether the dome is slaved to the telescope
      description: True if the dome is slaved to the telescope in its hardware, else False. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets whether the dome is slaved to the telescope
      description: Sets the current subframe height.
      tags:
        - Dome Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: Slaved 
          description: True if telescope is slaved to dome, otherwise false 
          type: boolean
          in: formData
          required: true
          default: false
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/Slewing:
    get:
      summary: Indicates whether the any part of the dome is moving
      description: True if any part of the dome is currently moving, False if all dome components are steady.  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

  /Dome/{DeviceNumber}/AbortSlew:
    put:
      summary: Immediately cancel current dome operation. 
      description: Calling this method will immediately disable hardware slewing (Slaved will become False).
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/CloseShutter:
    put:
      summary: Close the shutter or otherwise shield telescope from the sky.  
      description: Close the shutter or otherwise shield telescope from the sky.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/FindHome:
    put:
      summary: Start operation to search for the dome home position.
      description: After Home position is established initializes Azimuth to the default value and sets the AtHome flag.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/OpenShutter:
    put:
      summary: Open shutter or otherwise expose telescope to the sky. 
      description: Open shutter or otherwise expose telescope to the sky. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/Park:
    put:
      summary: Rotate dome in azimuth to park position.  
      description: After assuming programmed park position, sets AtPark flag. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/SetPark:
    put:
      summary: Set the current azimuth, altitude position of dome to be the park position
      description: Set the current azimuth, altitude position of dome to be the park position.  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/SlewToAltitude:
    put:
      summary: Slew the dome to the given altitude position. 
      description: Slew the dome to the given altitude position.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/DomeAltitudeForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/SlewToAzimuth:
    put:
      summary: Slew the dome to the given azimuth position. 
      description: Slew the dome to the given azimuth position.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/DomeAzimuthForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Dome/{DeviceNumber}/SyncToAzimuth:
    put:
      summary: Synchronize the current position of the dome to the given azimuth.
      description: Synchronize the current position of the dome to the given azimuth.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/DomeAzimuthForm'
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      tags:
        - Dome Specific Methods
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
# Camera specific methods
  /Camera/{DeviceNumber}/BayerOffsetX:
    get:
      summary: Returns the X offset of the Bayer matrix.
      description: Returns the X offset of the Bayer matrix, as defined in SensorType.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/BayerOffsetY:
    get:
      summary: Returns the Y offset of the Bayer matrix.
      description: Returns the Y offset of the Bayer matrix, as defined in SensorType.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/BinX:
    get:
      summary: Returns the binning factor for the X axis.
      description: Returns the binning factor for the X axis.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the binning factor for the X axis.
      description: Sets the binning factor for the X axis.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: BinX
          description: The X binning value
          type: integer
          format: int32
          in: formData
          required: true
          default: 1
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/BinY:
    get:
      summary: Returns the binning factor for the Y axis.
      description: Returns the binning factor for the Y axis.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the binning factor for the Y axis.
      description: Sets the binning factor for the Y axis.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: BinX
          description: The Y binning value
          type: integer
          format: int32
          in: formData
          required: true
          default: 1
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'

            
  /Camera/{DeviceNumber}/CameraState :
    get:
      summary: Returns the camera operational state.
      description: Returns the current camera operational state as an integer. 0 = CameraIdle , 1 = CameraWaiting , 2 = CameraExposing , 3 = CameraReading , 4 = CameraDownload , 5 = CameraError
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CameraXSize:
    get:
      summary: Returns the width of the CCD camera chip.
      description: Returns the width of the CCD camera chip in unbinned pixels.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CameraYSize:
    get:
      summary: Returns the height of the CCD camera chip.
      description: Returns the height of the CCD camera chip in unbinned pixels.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanAbortExposure:
    get:
      summary: Indicates whether the camera can abort exposures.
      description: Returns true if the camera can abort exposures; false if not. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanAsymmetricBin:
    get:
      summary: Indicates whether the camera supports asymmetric binning
      description: Returns a flag showing whether this camera supports asymmetric binning  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanFastReadout:
    get:
      summary: Indicates whether the camera has a fast readout mode.
      description: Indicates whether the camera has a fast readout mode.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanGetCoolerPower:
    get:
      summary: Indicates whether the camera's cooler power setting can be read.
      description: If true, the camera's cooler power setting can be read. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanPulseGuide:
    get:
      summary: Returns a flag indicating whether this camera supports pulse guiding
      description: Returns a flag indicating whether this camera supports pulse guiding. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanSetCCDTemperature:
    get:
      summary: Returns a flag indicating whether this camera supports setting the CCD temperature 
      description: Returns a flag indicatig whether this camera supports setting the CCD temperature  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CanStopExposure:
    get:
      summary: Returns a flag indicating whether this camera can stop an exposure that is in progress  
      description: Returns a flag indicating whether this camera can stop an exposure that is in progress   
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CCDTemperature:
    get:
      summary: Returns the current CCD temperature 
      description: Returns the current CCD temperature in degrees Celsius.    
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CoolerOn:
    get:
      summary: Returns the current cooler on/off state.
      description: Returns the current cooler on/off state.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Turns the camera cooler on and off
      description: Turns on and off the camera cooler. True = cooler on, False = cooler off
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: CoolerOn
          description: Cooler state
          type: boolean
          in: formData
          required: true
          default: True
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/CoolerPower:
    get:
      summary: Returns the present cooler power level
      description: Returns the present cooler power level, in percent. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
            
  /Camera/{DeviceNumber}/ElectronsPerADU:
    get:
      summary: Returns the gain of the camera
      description: Returns the gain of the camera in photoelectrons per A/D unit. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ExposureMax:
    get:
      summary: Returns the maximum exposure time supported by StartExposure.
      description: Returns the maximum exposure time supported by StartExposure.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ExposureMin:
    get:
      summary: Returns the Minimium exposure time 
      description: Returns the Minimium exposure time in seconds that the camera supports through StartExposure.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ExposureResolution:
    get:
      summary: Returns the smallest increment in exposure time supported by StartExposure.
      description: Returns the smallest increment in exposure time supported by StartExposure.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/FastReadout:
    get:
      summary: Returns whenther Fast Readout Mode is enabled.
      description: Returns whenther Fast Readout Mode is enabled.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets whether Fast Readout Mode is enabled.
      description: Sets whether Fast Readout Mode is enabled.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: FastReadout
          description: True to enable fast readout mode
          type: boolean
          in: formData
          required: true
          default: false
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/FullWellCapacity:
    get:
      summary: Reports the full well capacity of the camera
      description: Reports the full well capacity of the camera in electrons, at the current camera settings (binning, SetupDialog settings, etc.).
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/Gain:
    get:
      summary: Returns an index into the Gains array
      description: Returns an index into the Gains array for the selected camera gain.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the binning factor for the X axis.
      description: Sets the binning factor for the X axis.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: Gain 
          description: Index of the current camera gain in the Gains string array.
          type: integer
          format: int32
          in: formData
          required: true
          default: 0
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/GainMax:
    get:
      summary: Maximum value of Gain
      description: Returns the maximum value of Gain.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/GainMin:
    get:
      summary: Minimum value of Gain
      description: Returns the Minimum value of Gain.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/Gains:
    get:
      summary: Gains supported by the camera 
      description: Returns the Gains supported by the camera.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/HasShutter:
    get:
      summary: Indicates whether the camera has a mechanical shutter
      description: Returns a flag indicating whether this camera has a mechanical shutter.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/HeatSinkTemperature:
    get:
      summary: Returns the current heat sink temperature.
      description: Returns the current heat sink temperature (called "ambient temperature" by some manufacturers) in degrees Celsius.    
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ImageArray:
    get:
      summary: Returns an array of int containing the exposure pixel values
      description: |
        Returns an array of int(32bit) containing the pixel values from the last exposure. This call can return either a 2 dimension (monochrome images) or 3 dimension (colour or multi-plane images) array of size NumX \* NumY  or NumX \* NumY \* NumPlanes. Where applicable, the size of NumPlanes has to be determined by inspection of the returned Array.
        
        Since 32bit integers are always returned by this call, the returned Type value (0 = Unknown, 1 = short(16bit), 2 = int(32bit), 3 = Double) is always 2. The number of planes is given in the returned Rank value.

        When deserialising to an object it helps enormously to know the array Rank beforehand so that the correct data class can be used. This can be achieved through a regular expression or by direct parsing of the returned JSON string to extract the Type and Rank values before deserialising.
        
        This regular expression accomplishes the extraction into two named groups: Type and Rank:
        
        __^*"Type":(?<Type>\d*),"Rank":(?<Rank>\d*)__
        
        which can then be used to select the correct deserialisation data class.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/ImageArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ImageArrayVariant:
    get:
      summary: Returns an array of int containing the exposure pixel values
      description: |
        Returns an array containing the pixel values from the last exposure. This call can return either a 2 dimension (monochrome images) or 3 dimension (colour or multi-plane images) array of size NumX \* NumY  or NumX \* NumY \* NumPlanes. Where applicable, the size of NumPlanes has to be determined by inspection of the returned Array.
        
        This call can return values as short(16bit) integers, int(32bit) integers or double floating point values. The nature of the returned values is given in the Type parameter: 0 = Unknown, 1 = short(16bit), 2 = int(32bit), 3 = Double. The number of planes is given in the returned Rank value.
        
        When deserialising to an object it helps enormously to know the Type and Rank beforehand so that the correct data class can be used. This can be achieved through a regular expression or by direct parsing of the returned JSON string to extract the Type and Rank values before deserialising.
        
        This regular expression accomplishes the extraction into two named groups: Type and Rank:
        
        __^*"Type":(?<Type>\d*),"Rank":(?<Rank>\d*)__
        
        which can then be used to select the correct deserialisation data class.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/ImageArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/ImageReady:
    get:
      summary: Indicates that an image is ready to be downloaded
      description: Returns a flag indicating whether the image is ready to be downloaded from the camera.
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/IsPulseGuiding:
    get:
      summary: Indicates that the camera is pulse guideing. 
      description: Returns a flag indicating whether the camera is currrently in a PulseGuide operation. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/LastExposureDuration:
    get:
      summary: Duration of the last exposure
      description: Reports the actual exposure duration in seconds (i.e. shutter open time).  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/LastExposureStartTime:
    get:
      summary: Start time of the last exposure in FITS standard format.
      description: Reports the actual exposure start in the FITS-standard CCYY-MM-DDThh:mm:ss[.sss...] format.   
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/MaxADU:
    get:
      summary: Camera's maximum ADU value
      description: Reports the maximum ADU value the camera can produce. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/MaxBinX:
    get:
      summary: Maximum  binning for the camera X axis
      description: Returns the maximum allowed binning for the X camera axis  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/MaxBinY:
    get:
      summary: Maximum  binning for the camera Y axis
      description: Returns the maximum allowed binning for the Y camera axis  
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/NumX:
    get:
      summary: Returns the current subframe width
      description: Returns the current subframe width, if binning is active, value is in binned pixels. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the current subframe width
      description: Sets the current subframe width.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: NumX 
          description: Sets the subframe width, if binning is active, value is in binned pixels. 
          type: integer
          format: int32
          in: formData
          required: true
          default: 0
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/NumY:
    get:
      summary: Returns the current subframe height
      description: Returns the current subframe height, if binning is active, value is in binned pixels. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the current subframe height
      description: Sets the current subframe height.
      tags:
        - Camera Specific Methods
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - name: NumX 
          description: Sets the subframe height, if binning is active, value is in binned pixels. 
          type: integer
          format: int32
          in: formData
          required: true
          default: 0
        - $ref: '#/parameters/ClientIDForm'
        - $ref: '#/parameters/ClientTransactionIDForm'
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/PercentCompleted:
    get:
      summary: Indicates percentage completeness of the current operation
      description: Returns the percentage of the current operation that is complete. If valid, returns an integer between 0 and 100, where 0 indicates 0% progress (function just started) and 100 indicates 100% progress (i.e. completion).
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/PixelSizeX:
    get:
      summary: Width of CCD chip pixels (microns)
      description: Returns the width of the CCD chip pixels in microns. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
        - $ref: '#/parameters/ClientTransactionIDQuery'
      tags:
        - Camera Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/DoubleResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /Camera/{DeviceNumber}/PixelSizeY:
    get:
      summary: Height of CCD chip pixels (microns)
      description: Returns the Height of the CCD chip pixels in microns. 
      parameters:
        - $ref: '#/parameters/DeviceNumber'
        - $ref: '#/parameters/ClientIDQuery'
[...]
