###############################################################################
# Tell Git Linguist to ignore Swagger content files when deciding what language
# is used in the repository
###############################################################################
Swagger/** linguist-documentation=true
