swagger: '2.0'
info:
  title: ASCOM Web
  description: Provides access to ASCOM devices remotely over the web
  version: "1.0.0"
# the domain of the service
host: www.ascom-standards.org
# array of all schemes that your API supports
schemes:
  - http
  - https
# will be prefixed to all paths
basePath: /api/v1
consumes:
  - application/json
produces:
  - application/json
paths:
  /{DeviceType}/{DeviceNumber}/Action:
    put:
      summary: Invokes the specified device-specific action.
      description: Invokes the specified device-specific action.
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
        - name: Action
          description: A well known name that represents the action to be carried out.
          type: string      
          in: formData
          required: true
        - name: Parameters
          description: List of required parameters or an Empty String if none are required
          type: string      
          in: formData
          required: true
          allowEmptyValue: true
        - name: Client
          description: Client's unique ID.
          type: integer
          format: int32
          in: formData
          required: false
        - name: ClientTransactionID
          description: Client's transaction ID.
          type: integer
          format: int32
          in: formData
          required: false
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Connected:
    get:
      summary: Retrieves the connected state of the device
      description: Retrieves the connected state of the device
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/BoolResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the connected state of the device
      description: Sets the connected state of the device
      tags:
        - Methods Common To All Devices
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
        - name: ParameterValue
          description: True or False value to set
          type: boolean      
          in: formData
          required: true
        - name: Client
          description: Client's unique ID.
          type: integer
          format: int32
          in: formData
          required: false
        - name: ClientTransactionID
          description: Client's transaction ID.
          type: integer
          format: int32
          in: formData
          required: false
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Description:
    get:
      summary: Device description
      description: The description of the device
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Driverinfo:
    get:
      summary: Device driver description
      description: The description of the driver
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/DriverVersion:
    get:
      summary: Driver Version
      description: A string containing only the major and minor version of the driver. 
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description:  Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /FilterWheel/{DeviceNumber}/FocusOffsets:
    get:
      summary: Filter focus offsets
      description: An integer array of filter focus offsets.
      parameters:
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - FilterWheel Specific Methods
      responses:
        200:
          description:  Driver response
          schema:
            $ref: '#/definitions/IntArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/DriverVersion:
    get:
      summary: Driver Version
      description: A string containing only the major and minor version of the driver. 
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description:  Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/Name:
    get:
      summary: Device name
      description: The name of the device
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /FilterWheel/{DeviceNumber}/Names:
    get:
      summary: Filter wheel filter names
      description: The names of the filters
      parameters:
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - FilterWheel Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /FilterWheel/{DeviceNumber}/Position:
    get:
      summary: Returns the current filter wheel position
      description: Returns the current filter wheel position
      parameters:
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - FilterWheel Specific Methods
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/IntResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
    put:
      summary: Sets the filter wheel position
      description: Sets the filter wheel position
      tags:
        - FilterWheel Specific Methods
      parameters:
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
        - name: ParameterValue
          description: Position value to set
          type: integer      
          format: int32
          in: formData
          required: true
        - name: Client
          description: Client's unique ID.
          type: integer
          format: int32
          in: formData
          required: false
        - name: ClientTransactionID
          description: Client's transaction ID.
          type: integer
          format: int32
          in: formData
          required: false
      responses:
        200:
          description: Transaction complete or exception
          schema:
            $ref: '#/definitions/MethodResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
  /{DeviceType}/{DeviceNumber}/SupportedActions:
    get:
      summary: Returns the list of action names supported by this driver.
      description: Returns the list of action names supported by this driver.
      parameters:
        - name: DeviceType
          description: One of the recognised ASCOM device types e.g. Telescope
          type: string
          in: path
          required: true
        - name: DeviceNumber
          description: Zero based device number as set on the server
          type: integer
          format: int32
          in: path
          required: true
      tags:
        - Methods Common To All Devices
      responses:
        200:
          description: Driver response
          schema:
            $ref: '#/definitions/StringArrayResponse'
        400:
          description: Method or parameter value error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'
        500:
          description: Server internal error, check error message
          schema:
            $ref: '#/definitions/ErrorMessage'


definitions:
  ErrorMessage:
    type: string
    properties:
      Value:
        type: string
        description: Error message
  BoolResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
      Value:
        type: boolean
        description: True or False value
  IntResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
      Value:
        type: integer
        format: int32
        description: Returned integer value
  IntArrayResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
      Value:
        type: array
        items:
          type: integer
          format: int32
        description: Array of integer values.
  MethodResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
  StringResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
      Value:
        type: string
        description: String response from the device.
  StringArrayResponse:
    type: object
    properties:
      ClientTransactionID:
        type: integer
        format: int32
        description: Client's transaction ID.
      ServerTransactionID:
        type: integer
        format: int32
        description: Server's transaction ID.
      Method:
        type: string
        description: Name of the calling method.
      ErrorNumber:
        type: integer
        format: int32
        description: Error number from device.
      ErrorMessage:
        type: string
        description: Error message description from device.
      DriverException:
        type: object
        description: Windows error exception object (only of value if client is Windows in which case deserialise to a .NET Exception object).
      Value:
        type: array
        items:
          type: string
        description: Array of string values.
